/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.test
todo.md
notes.md
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
